{% block content %}

    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="type">Menu choisi</label>
                <select class="form-control" name="name" id="type">

                   <option value="{{ event.name }}"></option>
                    <optgroup label="Classique">
                    {% for menu in donneesClassiques %}
                       {% set selected = "selected" %}
                        <option {% if menu.titre == event.name %} {{ selected }} {% endif %} value="{{ menu.titre }}">{{ menu.titre }}</option>
                    {% endfor %}
                    </optgroup>

                   <option value="{{ event.name }}"></option>
                    <optgroup label="Végétarien">
                    {% for menu in donneesVegetariens %}
                       {% set selected = "selected" %}
                        <option {% if menu.titre == event.name %} {{ selected }} {% endif %} value="{{ menu.titre }}">{{ menu.titre }}</option>
                    {% endfor %}
                    </optgroup>

                   <option value="{{ event.name }}"></option>
                    <optgroup label="Vegan">
                    {% for menu in donneesVegans %}
                       {% set selected = "selected" %}
                        <option {% if menu.titre == event.name %} {{ selected }} {% endif %} value="{{ menu.titre }}">{{ menu.titre }}</option>
                    {% endfor %}
                    </optgroup>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="date">Date</label>
                <input id="date" type="date" required class="form-control" name="date" value="{% if date is defined %}{{ date }}{% elseif date_jour is defined %}{{ date_jour }}{% elseif date_jour is not defined %}''{% endif %}">
                {% if errors[date] is defined %}
                    <small class="form-text text-muted">{{ errors[date] }}</small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="start">Début</label>
                <input id="start" type="time" required class="form-control" name="start" placeholder="HH:MM" value="{% if start is defined %}{{ start }}{% else %}18:30{% endif %}">
                {% if errors[start] is defined %}
                    <small class="form-text text-muted">{{ errors[start] }}</small>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="end">Fin</label>
                <input id="end" type="time" required class="form-control" name="end" placeholder="HH:MM" value="{% if end is defined %}{{ end }}{% else %}22:30{% endif %}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Veuillez renseigner ici votre nom, prénom, adresse, numéro de téléphone et le nombre de convives.</label>
        <textarea name="description" id="description" class="form-control" rows="10" placeholder="Nom, prénom, adresse, n° téléphone, nombre de convives">{{ description }}</textarea>

    </div>

{% endblock %}