{% extends 'layout.html.twig' %}
{% block stylesheetpages %}
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="/assets/css/calendar.css">
{% endblock %}

{% block content %}

    <br><br id="ancreDeChine">
<div class="calendar">

    <div class="calendar__container">
        <h1>{{ month.toString() }}</h1>

        {% if success %}
        <div class="container">
            <div class="alert alert-success">
                Le rendez-vous a bien été soumis, je vous répondrai dans les meilleurs délais !
            </div>
        </div>
        {% endif %}

        {% if success_delete %}
            <div class="container">
                <div class="alert alert-success">
                    Le rendez-vous a bien été supprimé
                </div>
            </div>
        {% endif %}

    </div>

    <div class="container calendar__nav col-md-8 col-sm-10 col-xs-12">
    <div class="nav__previous">
        <a href="/reservation?month={{ month.previousMonth().month }}&year={{ month.previousMonth().year }}#ancreDeChine" class="btn btn-primary bouton"><</a>
    </div>
    <div class="nav__next">
        <a href="/reservation?month={{ month.nextMonth().month }}&year={{  month.nextMonth().year }}#ancreDeChine" class="btn btn-primary bouton">></a>
    </div>
</div>
<br>

<div class="container col-md-8 col-sm-10 col-xs-12">
    <table class="calendar__table calendar__table--{{ weeks }}weeks">
        {% for i in 0..weeks-1 %}
        <tr>
            {% for k,day in month.days %}
            {% set date = start.modify("+" ~ (k + i * 7) ~ " days") %}
            {% set eventsForDay = events[date.format('Y-m-d')] %} <!-- ATTENTION -->
            {% set isToday = (today == date.format('Y-m-d')) %}
            {% if (not month.withinMonth(date)) %}
                {% set withinMonth = 'calendar__othermonth' %}
            {% elseif  isToday%}
                {% set withinMonth = 'is-today' %}
            {% else %}
                {% set withinMonth = '' %}
            {% endif %}
            <td class="{{ withinMonth }}" >
                {% if i==0 %}
                <div class="calendar__weekday">{{ day }}</div>
                {% endif %}
                {% if admin is defined %}
                <a class="calendar__day" href="/reservation/add?date={{ date.format('Y-m-d') }}">{{ date.format('d') }}</a>
                {% endif %}

                {% if admin is not defined %}
                    {% if eventsForDay > 0 %}
                    <p class="calendar__day_user"> {{ date.format('d') }}</p>
                    {% elseif eventsForDay == 0 %}
                        <a class="calendar__day" href="/reservation/add?date={{ date.format('Y-m-d') }}">{{ date.format('d') }}</a>
                    {% endif %}
                {% endif %}

                {% for event in eventsForDay %}
                <div class="calendar__event">
                    {{ event.getStart().format('H:i') }} -

                    {% if admin is defined %}
                    <a href="/reservation/edit?id={{ event.getId() }}">{{ event.getName() }}</a>
                    {% endif %}

                    {% if admin is not defined %}
                        <p>Indisponible</p>
                    {% endif %}

                </div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
    <br><br><br>
    {% if not admin %}
        <div class="container calendar__container">
            <h1>Offrez-vous une expérience culinaire</h1>
            <p class="calendar_text">Chef à domicile, je prépare le repas devant vous, m’occupe du service, débarrasse la table et nettoie votre cuisine pendant que vous profitez pleinement de vos invités.
                <br>Pour les amateurs de cuisine, je peux également donner quelques conseils lorsque je prépare le repas.
            </p>
            <h1>Comment ça fonctionne ?</h1>
            <p class="calendar_text">
                Vous choisissez un menu commun avec vos invités (entrées, plats, desserts identiques).<br>
                Vous prenez contact avec le Chef pour convenir du lieu et de l’heure. J’achète les produits nécessaires à la réalisation du repas et commence à les
                préparer dans ma propre cuisine. <br>
                1h30 avant l’heure de votre repas, je prend les commandes de votre cuisine pour réaliser le menu. <br><br>
                Je m’occuperai du dressage des assiettes ainsi que du service. A la fin du service, je laisserai votre cuisine aussi propre qu’à son arrivée !
                <br><br><em>À noter que je ne travaille que les soirs, horaires à convenir à partir de 18h30, jusqu'à 23H !</em>
            </p>
            <h1>Le matériel nécessaire</h1>
            <p class="calendar_text">
                Le Chef à domicile emmène avec lui l’intégralité des aliments nécessaires à la réalisation du menu, ainsi que ses ustensiles de découpe et de dressage. Il se servira de la batterie de cuisine sur place pour la réchauffe des aliments, des assiettes sur place pour le dressage, ainsi que du four et des plaques chauffantes.
                <br>Dans le cas où l’un des matériels précédents venaient à manquer, merci de le préciser lors de votre commande.
            </p>
            <h1>Le paiement</h1>
            <p class="calendar_text">
                Un acompte est demandé à partir de de 300€ de commande. Vous payerez le chef à domicile dès son arrivée, ce qui lui permettra de quitter les lieux en toute discrétion à la fin du repas pour vous laisser profiter de la soirée avec vos convives.
                <br>Vous pouvez régler en espèce ou chèque.
            </p>
        </div>

    {% endif %}

<a href="/reservation/add" class="calendar__button bouton">+</a>

</div>

{% endblock %}