{% block stylesheetpages %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

{% endblock %}

{% block content %}

    <div class="container">
      {% for error in erreurs %}
          <div class="row">
              <div class="alert alert-danger alerte_erreur">{{ error }}</div>
          </div>
      {% endfor %}

    <form class="row" method="post" action="/admin/actu/ajouter" enctype="multipart/form-data">

    <div class="col-6">

        <label for="titre">Titre de l'actualité :</label><br>
        <input type="text" name="titre" id="titre"><br><br>

    </div>

    <div class="col">

            <label for="image">Image (Format .jpg / Max 2 Mo)</label>
            <input class="form-control" name="image" type="file" required>

    </div>

    <div class="col-12">

        <label for="contenu">Introduction :</label><br>
        <textarea class="form-control" name="contenu" id="contenu" cols="30" rows="10"></textarea>
        <br>
        <br>

    </div>


    <div class="col-3 offset-5">

        <input type="submit" value="Envoyer">

    </div>


    </form>

    </div>

    <hr>


      <form action="/admin/actu/supprimer" method="post">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Titre</th>
              <th>Image</th>
              <th>Contenu</th>
              <th></th>
            </tr>
          </thead>
          {% for actu in donnees %}
            <tr>
              <input type="hidden" name="delete" value="{{actu.id}}">
              <td>{{actu.id }}</td>
              <td>{{actu.titre }}</td>
              <td>{{actu.image }}</td>
              <td>{{actu.contenu}}</td>
              <td><button type="submit" name="supprimer" class="btn btn-danger ml-2">Supprimer</button></td>
            </tr>
            {% endfor %}


        </table>

    </div>


{% endblock %}

{% block footer %}
{% endblock %}
