{% extends 'layout.html.twig' %}

{% block stylesheetpages %}

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/menu.css">
  <script src="/assets/js/filtre_menus.js"></script>




{% endblock %}


{% block content %}

    <br>
    <h1 class="titre_cache2">Menus</h1>

    <div class="container bio">
        <p class="bio">Dans une démarche de développement durable mais également de qualité gustative, tous les aliments (hors épices, assaisonnement) des menus sont issus de l'agriculture biologique et cultivés ou élevés en Alsace.</p>
    </div>

    <nav class="barre_filtres col-12">
        <div class="row">
            <ul class="col-12" id="filters">
                <li><button class=" col-lg-3 col-md-3 tous btn btn-dark">Tous les menus</button></li>
                <li><button class="offset-lg-1 col-lg-2 col-md-3 classiques btn btn-primary">Menus Classiques</button></li><li><button class="col-lg-2 col-md-3 vegetariens btn btn-primary">Menus Végétariens</button></li><li><button class="col-lg-2 col-md-3 vegans btn btn-primary">Menus Vegans</button></li>
            </ul>
        </div>
    </nav>

<div class="container menus classiques">

    <h2 class="menu">Menus Classiques</h2>
    <hr>

    <div class="container-fluid row">

    {% for menu in donneesClassiques %}

        <div class="card col-lg-4 col-md-6">
            <a href="/assets/img/img-menu/{{ menu.image }}"><img class="card-img-top" src="/assets/img/img-menu/{{ menu.image }}" alt="Photo du menu"></a>
            <div class="card-body">
                <h2 class="card-title">{{ menu.titre }}</h2>
                <h3 class="card-text">{{ menu.introduction }}</h3>
                <ul>
                    <li><h4>Entrée :</h4>{{ menu.entree }}</li>
                    <li><h4>Plat :</h4>{{ menu.plat }}</li>
                    <li><h4>Dessert :</h4>{{ menu.dessert }}</li>
                </ul>
                <div class="bouton">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#{{ menu.titre }}">Détails</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="{{ menu.titre }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">

                        <h2>{{ menu.titre }}</h2>
                        <h3>{{ menu.introduction }}</h3>

                        <h4 class="titre">{{ menu.entree }}</h4>
                        <p>{{ menu.d_entree }}</p>

                        <h4 class="titre">{{ menu.plat }}</h4>
                        <p>{{ menu.d_plat }}</p>

                        <h4 class="titre">{{ menu.dessert }}</h4>
                        <p>{{ menu.d_dessert }}</p>

                        <h2 class="tarifs">{{ menu.prix }}€ par convive</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>
    </div>

<div class="container menus vegetariens">

    <h2 class="menu">Menus Végétariens</h2>
    <hr>

    <div class="container-fluid row">

        {% for menu in donneesVegetariens %}

            <div class="card col-lg-4 col-md-6">
                <a href="/assets/img/img-menu/{{ menu.image }}"><img class="card-img-top" src="/assets/img/img-menu/{{ menu.image }}" alt="Photo du menu"></a>
                <div class="card-body">
                    <h2 class="card-title">{{ menu.titre }}</h2>
                    <h3 class="card-text">{{ menu.introduction }}</h3>
                    <ul>
                        <li><h4>Entrée :</h4>{{ menu.entree }}</li>
                        <li><h4>Plat :</h4>{{ menu.plat }}</li>
                        <li><h4>Dessert :</h4>{{ menu.dessert }}</li>
                    </ul>
                    <div class="bouton">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#{{ menu.titre }}">Détails</a>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="{{ menu.titre }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">

                            <h2>{{ menu.titre }}</h2>
                            <h3>{{ menu.introduction }}</h3>

                            <h4 class="titre">{{ menu.entree }}</h4>
                            <p>{{ menu.d_entree }}</p>

                            <h4 class="titre">{{ menu.plat }}</h4>
                            <p>{{ menu.d_plat }}</p>

                            <h4 class="titre">{{ menu.dessert }}</h4>
                            <p>{{ menu.d_dessert }}</p>

                            <h2 class="tarifs">{{ menu.prix }}€ par convive</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
  </div>

<div class="container menus vegans">

    <h2 class="menu">Menus Végans</h2>
    <hr>

    <div class="container-fluid row">

        {% for menu in donneesVegans %}

            <div class="card col-lg-4 col-md-6">
                <a href="/assets/img/img-menu/{{ menu.image }}"><img class="card-img-top" src="/assets/img/img-menu/{{ menu.image }}" alt="Photo du menu"></a>
                <div class="card-body">
                    <h2 class="card-title">{{ menu.titre }}</h2>
                    <h3 class="card-text">{{ menu.introduction }}</h3>
                    <ul>
                        <li><h4>Entrée :</h4>{{ menu.entree }}</li>
                        <li><h4>Plat :</h4>{{ menu.plat }}</li>
                        <li><h4>Dessert :</h4>{{ menu.dessert }}</li>
                    </ul>
                    <div class="bouton">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#{{ menu.titre }}">Détails</a>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="{{ menu.titre }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">

                            <h2>{{ menu.titre }}</h2>
                            <h3>{{ menu.introduction }}</h3>

                            <h4 class="titre">{{ menu.entree }}</h4>
                            <p>{{ menu.d_entree }}</p>

                            <h4 class="titre">{{ menu.plat }}</h4>
                            <p>{{ menu.d_plat }}</p>

                            <h4 class="titre">{{ menu.dessert }}</h4>
                            <p>{{ menu.d_dessert }}</p>

                            <h5 class="tarifs">{{ menu.prix }}€ par convive</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
