<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div id="app-header">
                <my-header></my-header>
            </div>
        {% endblock header %}

        {% block body %}
        
        {% endblock %}
        

        {% block javascripts %}
            <script>
            window.globalVars = {
                route1: "{{ path('menus')|escape('js') }}",
                route2: "{{ path('accueil')|escape('js') }}",
                route3: "{{ path('contact')|escape('js') }}",
                route4: "{{ path('lechef')|escape('js') }}",
                route5: "{{ path('booking_index')|escape('js') }}"
            }
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
